node_modules
apps/*/node_modules
packages/*/node_modules

dist
apps/*/dist
packages/*/dist
coverage

.env
.env.production
.env.local
.env.*.local

.git
.github
.DS_Store
*.log
npm-debug.log*

uploads
tmp
backups
